@import url('./normalize.css');
@import url('./fonts.css');
@import 'tailwindcss';

@theme {
  --breakpoint-sn: 30rem;
  --breakpoint-md: 50rem;

  --font-atyp: atyp;
  --text-5: 0.3125rem;
  --text-6: 0.375rem;
  --text-10: 0.625rem;
  --text-18: 1.125rem;
  --text-22: 1.375rem;
  --text-28: 1.75rem;
  --text-32: 2rem;
  --text-34: 2.125rem;
  --text-40: 2.5rem;
  --text-44: 2.75rem;
  --text-54: 3.375rem;
  --text-56: 3.5rem;
  --text-80: 5rem;

  --color-pink-50: #ede7f6;
  --color-pink-60: #e5ddf3;
  --color-pink-75: #ddd2ef;
  --color-pink-100: #d1c4e8;
  --color-pink-150: #c8bbe5;
  --color-pink-200: #b388ff;
  --color-pink-300: #7e57c2;
  --color-pink-400: #5e35b1;
  --color-pink-450: #5833a2;
  --color-pink-500: #513094;

  --color-red-400: #ed1818;

  --color-gray-50: #f2f2f3;
  --color-gray-75: #a0a0a0;
  --color-gray-100: #bfbfbf;
  --color-gray-200: #59595b;
  --color-gray-600: #3a3a3c;
  --color-gray-650: #4a4a4c;
  --color-gray-700: #212529;
  --color-gray-750: #252527;
  --color-gray-800: #1c1c1c;
  --color-gray-850: #171717;
  --color-gray-950: #0a0a0a;
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  html {
    background-color: var(--color-gray-50);
    color: var(--color-gray-700);
  }
  html.dark {
    background-color: var(--color-gray-950);
    color: var(--color-gray-100);
  }
}

#toasts-box {
  z-index: 100;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 0.75rem;
}

.modal-hidden {
  overflow: hidden;
}

.theme {
  transition:
    background-color 0.3s,
    color 0.3s;
}

body {
  font-family: atyp, sans-serif;
}

.hide-toast-indicator::after {
  animation: hideToastIndicator 5s ease-in forwards;
}

@keyframes hideToastIndicator {
  to {
    width: 0;
  }
}
